#mainPane{
    -fx-background-image: url("car.jpg");
    -fx-background-size: 800 506;
    -fx-background-position: center center;
}

#settingsPane{
    -fx-background-color: BLACK;
    -fx-opacity: 0.75;
}